.article {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--clr-grey);
  border-radius: var(--border-rad);
  min-width: 450px;
  width: 45vw;
  max-width: 700px;
  overflow: hidden;
  margin-bottom: 1rem;
  padding: 1rem;
}

.article-img {
  max-width: 600px;
  box-shadow: var(--box-shadow);
  object-fit: contain;
  width: 45vw;
}

.article-title {
  font-weight: 800;
  color: var(--clr-white);
  background-color: var(--clr-black);
  width: 45vw;
  text-align: center;
  padding: 0.5rem;
}

.author-date-pair {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem 0.5rem 1rem;
}

.category {
  align-self: flex-end;
}
